// navbar 基本高度
$navbar-base-height: 100px;

// sidebar 寬度
$navbar-lg-width: 385px;

// footer 高度
$footer-height: 220px;

// 顏色
$white: #ffffff;
$darkwhite: #f3f3f3;
$gray: #eaeaea;
$darkgray: #929292;
$blue: #003677;

// 字體設定
$font-family-sans-serif: 'Noto Serif TC',
'Microsoft JhengHei',
sans-serif;

$font-size: 18px;

$line-height-base: 1.6;