html, body {
  font-size: 16px !important;
}

.panel .sections .menu {
  margin-bottom: 6px;
}

footer .container {
  height: auto !important;
}
footer .container p {
  font-size: 16px;
}

div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.content-paginate-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #003677;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #6bd2f9;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #6bd2f9;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #003677;
}

body {
  padding-right: 0 !important;
}

section.header .bg-image {
  background-image: url(../../../../images/background/img-09.jpg);
}

section.cart-content {
  width: 100%;
  position: relative;
  background-color: #efefef;
}
.cart-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cart-table .cart-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px solid #003677;
  margin-bottom: 30px;
  z-index: 2;
}
.cart-table .cart-header .cart-cell {
  width: 16.66667%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}
.cart-table .cart-header .cart-cell.w-10 {
  width: 10%;
}
.cart-table .cart-header .cart-cell.w-15 {
  width: 15%;
}
.cart-table .cart-header .cart-cell.w-45 {
  width: 45%;
}
.cart-table .cart-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  margin-bottom: 15px;
  box-shadow: 0px 3px 8px 0px #737373;
  border-radius: 5px;
}
.cart-table .cart-row:last-child {
  padding-bottom: 1rem;
}
.cart-table .cart-row .cart-cell {
  width: 16.66667%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
}
.cart-table .cart-row .cart-cell.w-10 {
  width: 10%;
}
.cart-table .cart-row .cart-cell.w-15 {
  width: 15%;
}
.cart-table .cart-row .cart-cell.w-30 {
  width: 30%;
}
.cart-table .cart-row .cart-cell.w-100 {
  width: 100%;
}
.cart-table .cart-row .cart-cell.h-80 {
  height: 80px;
}
.cart-table .cart-row .cart-cell .product-link {
  text-decoration: none;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cart-table .cart-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  height: 90px;
  box-shadow: 0px 3px 8px 0px #737373;
  border-radius: 5px;
}
.cart-table .cart-footer .cart-cell {
  width: 16.66667%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 18px;
}
.cart-table .cart-footer .cart-cell.w-30 {
  width: 30%;
}
.cart-table .cart-footer .cart-cell.w-70 {
  width: 70%;
}
.cart-table .cart-footer .cart-cell.status-cell {
  justify-content: flex-end;
}
.cart-table .cart-footer .cart-cell.status-cell .total-price {
  color: red;
  font-size: 1.8rem;
  font-weight: bold;
}
.cart-table .cart-footer .cart-cell .btn-checkout {
  color: #fff;
  background-color: #003677;
  border-color: #003677;
  width: 200px;
  height: 40px;
  letter-spacing: 4px;
  transition: all 200ms ease-out;
}
.cart-table .cart-footer .cart-cell .btn-checkout:hover:not([disabled]) {
  background-color: #0355b7;
  border-color: #0355b7;
}
.cart-table .cart-footer .cart-cell .btn-checkout:disabled {
  cursor: not-allowed;
}