html, body {
  font-size: 16px !important;
}

.panel .sections .menu {
  margin-bottom: 6px;
}

footer .container {
  height: auto !important;
}
footer .container p {
  font-size: 16px;
}

div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.content-paginate-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #003677;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #6bd2f9;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #6bd2f9;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #003677;
}

section.header {
  height: 100vh;
  min-height: 550px;
}
section.header .bg-image {
  background-image: url(../../../../public/images/background/img-14.jpg);
}

.login-reg-panel {
  width: 70%;
  height: 400px;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  background-color: #003677;
}
.login-reg-panel .login-info-box {
  width: 40%;
  padding: 0 50px;
  top: 20%;
  left: 0;
  position: absolute;
  text-align: left;
}
.login-reg-panel .register-info-box {
  width: 40%;
  padding: 0 50px;
  top: 20%;
  right: 0;
  position: absolute;
  text-align: left;
}
.login-reg-panel .register-info-box .register-link {
  border: 1px solid #9E9E9E;
  padding: 5px 5px;
  width: 150px;
  display: block;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.login-reg-panel .register-info-box .register-link:hover {
  background-color: white;
  color: #2e2e2e;
}
.login-reg-panel input[type=radio] {
  position: relative;
  display: none;
}
.login-reg-panel #label-login, .login-reg-panel #label-register {
  border: 1px solid #9E9E9E;
  padding: 5px 5px;
  width: 150px;
  display: block;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.login-reg-panel #label-login:hover, .login-reg-panel #label-register:hover {
  background-color: white;
  color: #2e2e2e;
}

.white-panel {
  background-color: #fafafa;
  height: 500px;
  position: absolute;
  top: -50px;
  width: 50%;
  right: calc(50% - 50px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}
.white-panel .login-show, .white-panel .register-show {
  z-index: 1;
  display: none;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #242424;
  text-align: left;
  padding: 50px;
}
.white-panel .login-show input[type=text], .white-panel .login-show input[type=password], .white-panel .register-show input[type=text], .white-panel .register-show input[type=password] {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}
.white-panel .login-show .submit-button, .white-panel .register-show .submit-button {
  max-width: 150px;
  width: 100%;
  background: #444444;
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
}
.white-panel .login-show a {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
}
.white-panel .auth-login-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 24px;
}
.white-panel .auth-login-footer .checkbox-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
}
.white-panel .auth-login-footer .checkbox-container .checkbox-input {
  box-sizing: border-box;
  padding: 0;
  outline: none;
  border: none;
}
.white-panel .auth-login-footer .checkbox-container .checkbox-label {
  font-size: 14px;
  color: #999999;
  display: block;
  padding-left: 0.5rem;
  margin: 0px;
  cursor: pointer;
}
.white-panel .auth-login-footer .form-link {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  font-size: 14px;
}
.white-panel .auth-login-footer .form-link:hover {
  color: #47a0ff;
}
.white-panel .button-container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.white-panel .button-container .submit-button {
  max-width: 150px;
  width: 100%;
  background: #222222;
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
}
.white-panel .button-container .submit-button:hover {
  background: #333333;
}

.right-log {
  right: 50px !important;
}

.show-log-panel {
  display: block !important;
}

.credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #3B3B25;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 99;
}