html, body {
  font-size: 16px !important;
}

.panel .sections .menu {
  margin-bottom: 6px;
}

footer .container {
  height: auto !important;
}
footer .container p {
  font-size: 16px;
}

div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.content-paginate-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #003677;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #6bd2f9;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #6bd2f9;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #003677;
}

section.header {
  height: calc(100vh - 122px);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .bg-image {
  background-image: url(../../../../public/images/background/img-14.jpg);
}

.white-panel {
  background-color: #fafafa;
  width: 40%;
  z-index: 0;
  box-shadow: 0 0 15px 9px #00000096;
}
.white-panel .login-show {
  z-index: 1;
  display: none;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #242424;
  text-align: left;
  padding: 50px;
}
.white-panel .login-show .input-container {
  margin: 20px 0;
}
.white-panel .login-show .input-container small {
  display: none;
  color: #ff2828;
  font-size: 0.9rem;
  font-weight: bold;
}
.white-panel .login-show .input-container.error input[type=email] {
  border: 1px solid #ff2828;
}
.white-panel .login-show .input-container.error small {
  display: inline-block;
}
.white-panel .login-show input[type=email], .white-panel .login-show input[type=password] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #b5b5b5;
  outline: none;
}
.white-panel .login-show .button-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.white-panel .login-show .submit-button {
  max-width: 150px;
  width: 100%;
  background: #444444;
  color: #f9f9f9;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}
.white-panel .login-show .submit-button:hover {
  background: #666666;
}
.white-panel .login-show .submit-button.disabled {
  cursor: not-allowed;
  background: #bbbbbb;
}
.white-panel .login-show .submit-button.disabled:hover {
  background: #bbbbbb;
}
.white-panel .login-show a {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
}

.show-log-panel {
  display: block !important;
}

#counter {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  opacity: 0;
}