html, body {
  font-size: 16px !important;
}

.panel .sections .menu {
  margin-bottom: 6px;
}

footer .container {
  height: auto !important;
}
footer .container p {
  font-size: 16px;
}

div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.content-paginate-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #003677;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #6bd2f9;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #6bd2f9;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #003677;
}

section.sale-orders-header {
  width: 100%;
  height: 250px;
  position: relative;
}
section.sale-orders-header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  background-image: url(../../../../public/images/background/image-89-2.jpg);
}
section.sale-orders-header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.sale-orders-header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.sale-orders-header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.full-height {
  height: 100%;
}

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

section.consumer-sale-orders {
  width: 100%;
  position: relative;
  background-color: #efefef;
}
section.consumer-sale-orders .container {
  max-width: 1300px;
  height: auto;
  min-height: 380px;
}
section.consumer-sale-orders .sale-orders-container .nav-div {
  padding: 30px 0px 0px 20px;
  border-bottom: 1px black solid;
}
section.consumer-sale-orders .sale-orders-container .nav-div ul {
  color: black;
  font-size: 1.3rem;
  letter-spacing: 2px;
}
section.consumer-sale-orders .sale-orders-container .nav-div ul li {
  margin-right: 14px;
  height: 100%;
}
section.consumer-sale-orders .sale-orders-container .nav-div ul li .active {
  border-bottom: 2px #003677 solid;
  font-weight: bold;
}
section.consumer-sale-orders .sale-orders-container .nav-div ul li a:hover {
  color: #003677;
  font-weight: bold;
}
section.consumer-sale-orders .sale-orders-container .sale-orders-list .not-found-message {
  color: black;
  margin: 30px;
  font-size: 1.2rem;
}
section.consumer-sale-orders .sale-orders-container .sale-orders-list .sale-order-content .card {
  color: black;
  margin: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  letter-spacing: 2px;
}
section.consumer-sale-orders .sale-orders-container .sale-orders-list .sale-order-content .card .card-header {
  background-color: rgba(0, 54, 119, 0.8);
  color: white;
  font-weight: bold;
}
section.consumer-sale-orders .sale-orders-container .sale-orders-list .sale-order-content .card .card-header p {
  margin: 0;
  font-style: italic;
}
section.consumer-sale-orders .sale-orders-container .sale-orders-list .sale-order-content .card .card-body {
  padding: 1.25rem 2rem;
}
section.consumer-sale-orders .sale-orders-container .sale-orders-list .sale-order-content .card .card-body a {
  background-color: #003677;
  border: 0;
}