html, body {
  font-size: 16px !important;
}

.panel .sections .menu {
  margin-bottom: 6px;
}

footer .container {
  height: auto !important;
}
footer .container p {
  font-size: 16px;
}

div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.content-paginate-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #003677;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #6bd2f9;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #6bd2f9;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #003677;
}

.filter-row {
  margin-top: 30px;
  margin-bottom: 30px;
}
.filter-row .filter-dropbox-container {
  width: 100%;
}
.filter-row .filter-dropbox {
  letter-spacing: 3px;
  height: 56px;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-row .filter-search {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 5px 0px 5px 15px;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .filter-row .filter-search {
    margin-bottom: 10px;
  }
}
.filter-row .filter-search .search-icon {
  display: inline-block;
  width: 34px;
  height: 30px;
  color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
}
.filter-row .filter-search .search-input {
  display: inline-block;
  width: calc(100% - 135px);
  border: none;
  padding: 0;
}
.filter-row .filter-search .search-button {
  color: black;
  display: inline-block;
  width: 75px;
  text-align: center;
  border-left: 2px solid #003677;
  font-weight: bold;
}
.filter-row .filter-search .search-button:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .filter-row .search-div {
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
}

section.header .bg-image {
  background-image: url(../../../../public/images/background/img-09.jpg);
}

section.announcement-content {
  width: 100%;
  position: relative;
  background-color: #efefef;
}
section.announcement-content .container .announcement-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  color: black;
}

.announcement-card {
  width: calc(33.333333% - 56px);
  background-color: white;
  margin: 25px 28px;
  color: #000000;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
.announcement-card .card-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.announcement-card .card-link .announcement-card-image {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.announcement-card .card-link .announcement-card-image img {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.announcement-card .card-link .announcement-card-image .image-gray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(108, 117, 125, 0.3);
  -webkit-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}
.announcement-card .card-link .announcement-card-info {
  width: 100%;
  height: 110px;
  padding: 15px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: #393c45;
  -webkit-transition: top 400ms ease-out;
  transition: top 400ms ease-out;
}
.announcement-card .card-link .announcement-card-info .announcement-card-date {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 3px;
}
.announcement-card .card-link .announcement-card-info .announcement-card-date h3 {
  margin: 0;
  font-size: 26px;
  padding-left: 10px;
  border-left: 2px solid #003677;
  font-weight: bold;
}
.announcement-card .card-link .announcement-card-info .announcement-card-date span {
  text-align: right;
  font-size: 16px;
}
.announcement-card .card-link .announcement-card-info .announcement-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  margin-top: 6px;
  letter-spacing: 2px;
}
.announcement-card.animate {
  box-shadow: 0 0 8px 2px #00000096;
}
.announcement-card.animate .card-link {
  color: #000000;
}
.announcement-card.animate .announcement-card-image img {
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}
.announcement-card.animate .announcement-card-image .image-gray {
  background-color: rgba(108, 117, 125, 0);
}
.announcement-card.animate .announcement-card-info {
  top: calc(100% - 110px);
}