div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 7rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

section.header .bg-image {
  background-image: url(../../../../public/images/background/product.jpg);
}

.full-height {
  height: 100%;
}

.flex-center {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

section.announcement-detail {
  width: 100%;
  position: relative;
  background-color: #efefef;
}
section.announcement-detail .container {
  max-width: 1300px;
}
section.announcement-detail .announcement-detail-container {
  color: black;
  padding: 50px 90px;
}
section.announcement-detail .announcement-detail-container .announcement-title {
  height: 70px;
  margin-bottom: 10px;
  border-bottom: solid #003677;
}
section.announcement-detail .announcement-detail-container .announcement-date {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
section.announcement-detail .announcement-detail-container .announcement-content {
  padding: 50px 60px;
  line-height: 40px;
  font-size: 3rem;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0.8);
}
section.announcement-detail .announcement-detail-container .announcement-content img {
  margin-bottom: 10px;
}