html, body {
  font-size: 16px !important;
}

.panel .sections .menu {
  margin-bottom: 6px;
}

footer .container {
  height: auto !important;
}
footer .container p {
  font-size: 16px;
}

div.wrapper {
  margin: 0;
  padding: 0;
}

section.header {
  width: 100%;
  height: 440px;
  position: relative;
}
section.header .bg-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
section.header .bg-gray {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
section.header .container {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
section.header .container .title {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3.5rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.content-paginate-container {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 2.3rem;
  margin-top: 18px;
  margin-bottom: 30px;
}
@media (max-width: 439px) {
  .content-paginate-container {
    margin-top: 0px;
  }
}
.content-paginate-container .content-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-paginate-container .content-paginate li {
  display: block;
  width: 60px;
  height: 2rem;
  color: #003677;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .content-paginate-container .content-paginate li {
    width: 40px;
    font-size: 1rem;
  }
}
@media (max-width: 439px) {
  .content-paginate-container .content-paginate li {
    width: 30px;
    font-size: 0.8rem;
  }
}
@media (max-width: 329px) {
  .content-paginate-container .content-paginate li {
    width: 25px;
  }
}
.content-paginate-container .content-paginate li:hover {
  color: #6bd2f9;
}
.content-paginate-container .content-paginate li span {
  display: block;
  width: 100%;
  height: 100%;
}
.content-paginate-container .content-paginate li span.activated {
  color: #6bd2f9;
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled {
  cursor: default;
}
.content-paginate-container .content-paginate li.disabled:hover {
  color: #003677;
}

section.header .bg-image {
  background-image: url(../../../../images/background/product.jpg);
}

section.product-detail-section {
  width: 100%;
  position: relative;
  background-color: #efefef;
}
section.product-detail-section .container {
  max-width: 1300px;
}
section.product-detail-section .product-detail-container {
  padding: 35px;
  height: auto;
}
section.product-detail-section .product-detail-container .product-detail-row {
  width: 100%;
  height: 100%;
}
section.product-detail-section .product-detail-container .product-detail-row .product-left {
  margin: auto;
  padding-top: 20px;
}
section.product-detail-section .product-detail-container .product-detail-row .product-left .sp-wrap {
  display: inline-block;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 5px;
  background-color: white;
  border: 0;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right {
  padding: 20px 20px;
  color: black;
  position: relative;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-cart-btn {
  position: absolute;
  right: 0;
  width: 90px;
  height: 100px;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-cart-btn a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-cart-btn a .row {
  width: 100%;
  margin: 0;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-cart-btn a img {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-cart-btn a span {
  width: 100%;
  text-align: center;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-cart-btn a:hover {
  text-decoration: none;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-info {
  width: 100%;
  height: 100%;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-info .row {
  margin: 0;
}
section.product-detail-section .product-detail-container .product-detail-row .product-right .product-info .row p {
  margin-bottom: 15px;
}