@import '../variables';
@import '../content';
section.header {
    .bg-image {
        background-image: url(../../../../images/background/product.jpg)
    }
}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

section.announcement-detail {
    width: 100%;
    position: relative;
    background-color: #efefef;
    .container {
        max-width: 1300px;
    }
    .announcement-detail-container {
        color: black;
        padding: 50px 90px;
        .announcement-title {
            // height: 70px;
            margin-bottom: 10px;
            border-bottom: solid $blue;
            h1 {
                letter-spacing: 1px;
                font-size: 35px;
            }
        }
        .announcement-date {
            font-size: 22px;
            letter-spacing: 2px;
            margin-bottom: 15px;
        }
        .announcement-content {
            padding: 25px 30px;
            line-height: 40px;
            font-size: 1.5rem;
            letter-spacing: 2px;
            background-color: rgba(255, 255, 255, 0.8);
            img {
                // margin-bottom: 10px;
            }
            a {
                text-decoration: none;
            }
            .content-row {
                height: 90%;
                overflow-y: scroll;
                padding: 0px 15px;
            }
            .return-row {
                height: 10%;
                padding-top: 20px;
                .return-text {
                    border-top: 2px solid $blue;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    section.announcement-detail {
        .announcement-detail-container {
            padding: 30px 35px;
        }
    }
}
